.iframeByCSS{
    margin: auto ;
    border: 10px black ;
    height: 300px;
    width: 1300px ;
    align-self: center;
    overflow:hidden;
    overflow-y: scroll ;
    border-style: solid;
}

.headText{
    font-size: 25px ;
    margin-top: 10px ;
    margin-bottom: 10px ;
}

.foodAdjust{
    margin-right: 500px;
}

.quantityAdjust{
    margin-right: 100px ;
    margin-left: 500px ;
}

.priceAdjust{
    margin-left: 100px ;
}

.fixed-navFirstname {
    position: fixed;
    background-color: black;
    width: 26.4%
}

.fixed-navLastname {
    position: fixed;
    background-color: black;
    width: 20.6%
}

.fixed-navUsername {
    position: fixed;
    background-color: black;
    width: 18.5%
}

.gillsans{
    font-family: 'Gill Sans';
}

.p{
    margin-left: 500px ;
    font-size: 25px ;
}

.marginleft{
    margin-left: 526px;
}

.marginfarleft {
    margin-left: 908px;
}

.tableNumber{
    font-size: 50px ;
    margin-left: 1000px ;
}

.payButton{
    font-size: 25px ;
}